[Desktop Entry]
Encoding=UTF-8
Name=Scordite Wallet
Comment=Scordite wallet
Exec=Scordite %U
Terminal=false
Type=Application
Icon=intensecoin
MimeType=x-scheme-handler/scordite;
Categories=Office;Finance;
